@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model LightLib.Web.Models.Patron.PatronDetailModel
@{
	ViewBag.Title = $"Patron: {@Model.LastName}, {@Model.FirstName}";
}

<div class="row">
	<section>
		<p>
			<strong>Patrons</strong> make up the body of library users across all branches.
		</p> 
		<p>
			Implement the Editing and DB calling here
		</p>
	</section>
</div>